/.nb-gradle/
/.idea/
/eclipse/
/javadocs/
/output/
/.classpath
/.gradle
/.nb-gradle-properties
/.project
*.iml
*-javadoc/
debug/
.gradle
1.8/build/
1.8/classes/
1.7.10/build/
1.7.10/classes/
run/
build/
bin/
*.launch
.settings/
